### Problem Description :

* Employee Attrition is a huge problem across industries and generally costs the company a lot for
  hiring, retraining, productivity and work loss for each employee who leaves.
  
### Anlaytics Objectives :

* To create an analytical and modelling framework to predict whether an employee will leave
  the company or not based on the quantitative and qualitative features provided in the datasets.
* The firm is also interested in specific features that are highly indicative of attrition.

### Attribute details :

* EmployeeID : A unique identification key for every individual employee
* TotalWorkingHours : The total working hours logged for the employee at the location
* Billable_Hours : The number of hours that are used to charge the Client
* Hours_off_Duty : Number of hours the employee took off
* Touring_Hours : Number of hours the employee spent working at an offsite location
* NoOfProjects : Number of Projects the employee is assigned to
* ActualTimeSpent : Actual time the employee spent working according to the timesheets

### Employee_data :

#### Specific data regarding Employees for both Train and Test data
* EmployeeID : A unique identification key for every individual employee
* Job_History : A feature containing the previous companies where the employee was employed
* Joining_Date : The date on which the employee Joined the organisation
* Designation : The role of the employee in the company, with the following levels: EVP, Junior, MD,
  Senior, VP
* Sex : The gender of the employee

### Target :

* ‘Left_Company’ is the target variable and have to predict either ‘1’ (Left), ‘0’(Retained).

### Importing Libreries

In [29]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

In [30]:
import os

In [31]:
PATH = os.getcwd()
print(PATH)

C:\Users\DELL\Documents\Major Project

## Reading train data

In [32]:
train_data_attr = pd.read_csv("train_attrition.csv", header=0, sep=',')
train_data_work = pd.read_csv("train_work.csv", header=0, sep=',')
data_employee = pd.read_csv("employee_data.csv", header=0, sep=',')

## Reading Test Data

In [33]:
test_data_attr = pd.read_csv("test_attrition.csv", header=0, sep=',')
test_data_work = pd.read_csv("test_work.csv", header=0, sep=',')

### Checking Columns

In [34]:
train_data_attr.columns

Index(['EmployeeID', 'Left_Company'], dtype='object')

In [35]:
data_employee.columns

Index(['EmployeeID', 'Job_History', 'Joining_Date', 'Designation', 'Sex'], dtype='object')

In [36]:
train_data_work.columns

Index(['EmployeeID', 'TotalWorkingHours', 'Billable_Hours', 'Hours_off_Duty',
       'Touring_Hours', 'NoOfProjects', 'ActualTimeSpent'],
      dtype='object')

### Checking Shape

In [37]:
print(train_data_attr.shape)
print(train_data_work.shape)
print(data_employee.shape)

(245, 2)
(3983, 7)
(296, 5)

In [38]:
train_data_work.head(5)

,EmployeeID,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-1,184.0,144.0,40.0,144.0,3,77
1,emp-1,176.0,136.0,40.0,136.0,2,98
2,emp-1,200.0,120.0,72.0,120.0,1,14
3,emp-1,160.0,144.0,8.0,144.0,3,147
4,emp-1,171.0,135.0,0.0,135.0,1,42

In [39]:
# There are duplicates in the train_data_work
train_main = train_data_work.groupby('EmployeeID').sum().reset_index()
print(train_main.shape)
train_main.head(5)

(245, 7)

,EmployeeID,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-1,3424.0,2462.0,408.0,2462.0,42,2849
1,emp-10,2006.0,1274.0,328.0,691.0,13,616
2,emp-100,3607.0,3275.0,224.0,3235.0,23,3388
3,emp-101,4109.5,2759.5,192.0,0.0,18,1953
4,emp-102,3790.0,2720.5,344.0,1861.0,20,2254

In [40]:
# There are duplicates in test_data_work
test_main = test_data_work.groupby('EmployeeID').sum().reset_index()
print(test_main.shape)
test_main.head(5)

(51, 7)

,EmployeeID,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-106,3309.5,2352.0,298.0,2.0,18,1736
1,emp-112,3178.5,2610.0,292.0,325.0,21,1708
2,emp-114,3072.5,1618.7,264.0,1104.0,25,882
3,emp-118,2400.0,2008.0,146.0,728.0,18,1526
4,emp-12,4491.0,2653.0,601.0,799.0,31,1883

## Merging Train data

In [41]:
train_data1= pd.merge(train_main, train_data_attr, how="left", on="EmployeeID")
print(train_data1.shape)

(245, 8)

In [42]:
train_data1.head(5)

,EmployeeID,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent,Left_Company
0,emp-1,3424.0,2462.0,408.0,2462.0,42,2849,0.0
1,emp-10,2006.0,1274.0,328.0,691.0,13,616,1.0
2,emp-100,3607.0,3275.0,224.0,3235.0,23,3388,0.0
3,emp-101,4109.5,2759.5,192.0,0.0,18,1953,0.0
4,emp-102,3790.0,2720.5,344.0,1861.0,20,2254,0.0

In [43]:
train_data = pd.merge(train_data1,data_employee, how="left",on="EmployeeID")
print(train_data.shape)

(245, 12)

In [44]:
train_data.head(25)

,EmployeeID,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent,Left_Company,Job_History,Joining_Date,Designation,Sex
0,emp-1,3424.000000,2462.000000,408.0,2462.000000,42,2849,0.0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1
1,emp-10,2006.000000,1274.000000,328.0,691.000000,13,616,1.0,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0
2,emp-100,3607.000000,3275.000000,224.0,3235.000000,23,3388,0.0,"Worked at Company - 562 , Company - 319",2011_12,Senior,1
3,emp-101,4109.500000,2759.500000,192.0,0.000000,18,1953,0.0,"Worked at Company - 212 , Company - 668 , Comp...",2012_01,Senior,1
4,emp-102,3790.000000,2720.500000,344.0,1861.000000,20,2254,0.0,Worked at Company - 234,2011_12,Senior,1
5,emp-103,3191.500000,2797.000000,213.0,2797.000000,20,2366,0.0,"Worked at Company - 165 , Company - 597 , Comp...",2011_12,Senior,1
6,emp-104,3906.000000,3279.000000,256.0,3006.000000,24,1715,0.0,Worked at Company - 258,2011_12,Senior,1
7,emp-105,3301.000000,2169.000000,198.0,1203.000000,18,553,0.0,"Worked at Company - 780 , Company - 703",2012_01,VP,1
8,emp-107,2241.500000,798.000000,196.0,798.000000,7,245,0.0,"Worked at Company - 99 , Company - 569 , Compa...",2012_02,EVP,1
9,emp-108,2715.599998,1059.099998,316.0,0.000000,10,735,1.0,"Worked at Company - 205 , Company - 373 , Comp...",2012_01,VP,1
10,emp-109,2994.500000,2508.000000,276.0,2508.000000,16,2954,0.0,"Worked at Company - 13 , Company - 461 , Compa...",2012_02,Senior,1
11,emp-11,3955.000000,3089.000000,343.0,729.000000,27,1400,0.0,"Worked at Company - 521 , Company - 304 , Comp...",2007_07,Junior,1
12,emp-110,3053.300000,2168.700000,278.0,413.000000,30,1134,0.0,Worked at Company - 750,2012_02,Senior,1
13,emp-111,2949.000000,1923.500000,257.0,1225.000000,15,1022,0.0,"Worked at Company - 790 , Company - 151 , Comp...",2012_02,Senior,1
14,emp-113,2558.000000,1201.500000,296.0,1201.500000,11,749,0.0,"Worked at Company - 296 , Company - 211 , Comp...",2012_02,VP,1
15,emp-115,1986.299999,1091.299999,212.0,444.299999,11,539,1.0,"Worked at Company - 690 , Company - 280 , Comp...",2012_02,Senior,1
16,emp-116,2519.000000,1947.000000,278.0,552.000000,18,1995,0.0,Worked at Company - 695,2012_02,EVP,1
17,emp-117,2858.300000,1303.000000,224.0,1303.000000,11,763,0.0,Worked at Company - 658,2012_02,VP,1
18,emp-119,2558.500000,2093.000000,216.0,0.000000,15,2044,0.0,Worked at Company - 660,2012_04,Senior,1
19,emp-120,2486.000000,1790.000000,254.0,648.000000,19,847,0.0,Worked at Company - 795,2012_03,VP,1
20,emp-122,1604.000000,932.000000,224.0,932.000000,7,511,0.0,"Worked at Company - 346 , Company - 108",2012_03,VP,1
21,emp-123,2920.500000,2530.500000,206.0,0.000000,19,2016,0.0,Worked at Company - 643,2012_04,Senior,1
22,emp-125,2388.000000,1958.000000,160.0,0.000000,14,1813,0.0,Worked at Company - 581,2012_05,Senior,1
23,emp-126,2680.000000,1568.000000,136.0,21.000000,14,1239,0.0,"Worked at Company - 317 , Company - 875 , Comp...",2012_05,VP,1
24,emp-127,2514.500000,2248.500000,168.0,953.500000,17,1274,0.0,"Worked at Company - 688 , Company - 448 , Comp...",2012_04,Junior,1

### Train columns

In [45]:
train_data.columns

Index(['EmployeeID', 'TotalWorkingHours', 'Billable_Hours', 'Hours_off_Duty',
       'Touring_Hours', 'NoOfProjects', 'ActualTimeSpent', 'Left_Company',
       'Job_History', 'Joining_Date', 'Designation', 'Sex'],
      dtype='object')

### Train shape

In [46]:
train_data.shape

(245, 12)

### Extracting Year & month

In [47]:
import datetime

In [48]:
# df['month'] = pd.DatetimeIndex(df['birth_date']).month
#train_data['month'] = pd.DatetimeIndex(train_data['Joining_Date']).month

In [49]:
# df['year'] = pd.DatetimeIndex(df['birth_date']).year
#train_data['year'] = pd.DatetimeIndex(train_data['Joining_Date']).year

### Checking for Null Values

In [50]:
train_data.isnull().sum()

EmployeeID           0
TotalWorkingHours    0
Billable_Hours       0
Hours_off_Duty       0
Touring_Hours        0
NoOfProjects         0
ActualTimeSpent      0
Left_Company         0
Job_History          0
Joining_Date         0
Designation          0
Sex                  0
dtype: int64

### Checking Train Data types

In [51]:
train_data.dtypes

EmployeeID            object
TotalWorkingHours    float64
Billable_Hours       float64
Hours_off_Duty       float64
Touring_Hours        float64
NoOfProjects           int64
ActualTimeSpent        int64
Left_Company         float64
Job_History           object
Joining_Date          object
Designation           object
Sex                    int64
dtype: object

In [52]:
cat_data = list(train_data.select_dtypes(include=['object']).columns)

In [53]:
train_data['Job_History'].nunique()

245

In [54]:
train_data['Designation'].nunique()

5

In [55]:
train_data['Designation'].value_counts()

Junior    79
VP        63
Senior    63
EVP       28
MD        12
Name: Designation, dtype: int64

In [56]:
num_data = list(train_data.select_dtypes(include=['int64', 'float64']).columns)

In [57]:
cat_data = ['Designation', 'sex']

In [63]:
#for col in cat_data:
   # train_data[col] = train_data[col].astype('category')

In [64]:
train_data['EmployeeID'] = train_data['EmployeeID'].astype('category')

In [65]:
train_data['Joining_Date'] = train_data['Joining_Date'].astype('category')

In [66]:
train_data.dtypes

EmployeeID           category
TotalWorkingHours     float64
Billable_Hours        float64
Hours_off_Duty        float64
Touring_Hours         float64
NoOfProjects            int64
ActualTimeSpent         int64
Left_Company          float64
Job_History            object
Joining_Date         category
Designation          category
Sex                     int64
dtype: object

In [67]:
train_data.columns

Index(['EmployeeID', 'TotalWorkingHours', 'Billable_Hours', 'Hours_off_Duty',
       'Touring_Hours', 'NoOfProjects', 'ActualTimeSpent', 'Left_Company',
       'Job_History', 'Joining_Date', 'Designation', 'Sex'],
      dtype='object')

In [68]:
num_data

['TotalWorkingHours',
 'Billable_Hours',
 'Hours_off_Duty',
 'Touring_Hours',
 'NoOfProjects',
 'ActualTimeSpent',
 'Left_Company',
 'Sex']

In [69]:
cat_data

['Designation', 'sex']

In [70]:
train_data.NoOfProjects.value_counts()

26    14
24    13
18    11
5     11
11    11
13    10
7      9
20     9
15     9
28     9
29     8
10     8
25     8
31     7
30     7
19     6
14     6
27     6
6      6
16     6
12     5
0      5
33     4
2      4
48     4
9      4
21     4
40     4
4      3
8      3
23     3
22     3
42     3
3      2
34     2
35     2
37     2
38     2
43     2
46     2
17     1
1      1
61     1
39     1
53     1
32     1
62     1
78     1
Name: NoOfProjects, dtype: int64

In [ ]:
train_data.dtypes

## Dropping Unwanted columns

In [ ]:
train_data_employee.Job_History.value_counts()

In [ ]:
train_data.drop(['Job_History'], axis=1, inplace=True)

In [ ]:
cat_data.remove('Job_History')

In [ ]:
cat_data

In [ ]:
num_data

In [ ]:
train_data.columns

In [ ]:
train_data.describe()

In [ ]:
train_data.describe(include='object')

In [ ]:
train_data.Left_Company.value_counts()

## Merging Test Data

In [ ]:
test_data= pd.merge(test_data_work,test_data_employee, how="left", on="EmployeeID")

In [ ]:
test_data.head()

In [ ]:
test_data.isnull().sum()

In [ ]:
test_data.columns

In [ ]:
test_data.dtypes

In [ ]:
test_data.shape

In [ ]:
cat_data = ['Job_History','Designation']

In [ ]:
for col in cat_data:
    test_data[col] = test_data[col].astype('category')

In [ ]:
test_data['EmployeeID'] = test_data['EmployeeID'].astype('category')

In [ ]:
test_data['Joining_Date'] = test_data['Joining_Date'].astype('category')

In [ ]:
num_data = list(test_data.select_dtypes(include=['int64', 'float64']).columns)

## Dropping unwanted columns

In [ ]:
test_data.drop(['Job_History'], axis=1, inplace=True)

In [ ]:
cat_data.remove('Job_History')

In [ ]:
cat_data

In [ ]:
num_data

## Visualisation

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import graphviz
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
corr=train_data[num_data].corr()

In [ ]:
#Not much correlation found
fig, ax = plt.subplots()
fig.set_size_inches(20, 10)
sns.heatmap(corr,cmap='coolwarm',ax=ax,annot=True,linewidths=2)

In [ ]:
train_data.groupby(['Sex','Left_Company']).size().unstack().plot(kind='bar', title="Sex&Left_company", figsize=(25,8))
plt.ylabel('count')
plt.title('Sex vs. Left_Company');

In [ ]:
train_data.groupby(['Designation','Left_Company']).size().unstack().plot(kind='bar', title="Designation&Left_Company", figsize=(25,8))
plt.ylabel('count')
plt.title('Designation vs. Left_Company');

In [ ]:
train_data.groupby(['Joining_Date','Left_Company']).size().unstack().plot(kind='bar', title="Joining_Date", figsize=(25,8))
plt.ylabel('count')
plt.title('Joining_Date vs. Left_Company'); #(0 -'Joining Date' , 1 -'Left Company')

## Dummying Train and Test

In [ ]:
train_data = pd.get_dummies(train_data, columns=cat_data, drop_first=True)

In [ ]:
train_data.head()

In [ ]:
train_data.isnull().sum()

In [ ]:
test_data = pd.get_dummies(test_data, columns=cat_data, drop_first=True)

In [ ]:
test_data.head()

In [ ]:
test_data.isnull().sum()

In [ ]:
train_data.shape

In [ ]:
test_data.shape

In [ ]:
## Scaling on numerical

In [ ]:
# from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(train_data.loc[:,num_data])

train_data.loc[:,num_data] = sc.transform(train_data.loc[:,num_data])
test_data.loc[:,num_data] = sc.transform(test_data.loc[:,num_data])

## modelling

In [ ]:
X = train_data.loc[:, train_data.columns != 'Left_Company']
y = train_data['Left_Company']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=123, 
                                                    stratify=y)

In [ ]:
X_train.shape

In [ ]:
X_train.isnull().sum().sum()

In [ ]:
y_train.isnull().sum().sum()

In [ ]:
X_test.shape

In [ ]:
y_train.shape

In [ ]:
y_test.shape

In [ ]:
y_train.mean()

In [ ]:
y_test.mean()

## modelling

### Decision Trees

In [ ]:
from sklearn.metrics import accuracy_score,classification_report, recall_score, precision_score,confusion_matrix,mean_absolute_error,mean_squared_error

In [ ]:
## Building Decision Tree
from sklearn import tree

In [ ]:
clf = tree.DecisionTreeClassifier(max_depth=7)

In [ ]:
X_train.drop(['EmployeeID'], axis=1, inplace=True)

In [ ]:
X_test.drop(['EmployeeID'], axis=1, inplace=True)

In [ ]:
%time clf.fit(X_train, y_train)

In [ ]:
#train prediction
y1_pred_ = clf.predict(X_train)

In [ ]:
print(accuracy_score(y_train,y1_pred_))

In [ ]:
#evaluation data prediction
y_pred_ = clf.predict(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred_))

## feture importances

In [ ]:
importances = clf.feature_importances_
indices = np.argsort(importances)[::-1]
pd.DataFrame([train_data.columns[indices],np.sort(importances)[::-1]])

In [ ]:
#Grid Search for Hyper-parameter tuning
from sklearn.model_selection import GridSearchCV

In [ ]:
# set of parameters to test
param_grid = {"criterion": ["gini", "entropy"],
              "min_samples_split": [2, 10, 20,25],
              "max_depth": [4,5,6,7,8],
              "min_samples_leaf": [1,2,3,5,8,10],
              "max_leaf_nodes": [2,3,4,6,8,10],
              }

In [ ]:
dt = tree.DecisionTreeClassifier()
dt_model = GridSearchCV(dt, param_grid, cv=10)

In [ ]:
%time dt_model.fit(X_train, y_train)

In [ ]:
dt_model.best_params_

In [ ]:
y1_pred_ = dt_model.predict(X_train)

In [ ]:
#Accuracy against train data
print(accuracy_score(y_train,y1_pred_))
print("\n")

In [ ]:
#Accuracy against eval data
y_pred_ = dt_model.predict(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred_))

In [ ]:
test_data.drop(['EmployeeID'], axis=1, inplace=True)

In [ ]:
### For TEST Dataset prediction
y_pred_test_dt=dt_model.predict(test_data)

In [ ]:
y_pred_test_dt

In [ ]:
## dec trees confusio matrix

print(classification_report(y_train,y1_pred_))

In [ ]:
print(classification_report(y_test,y_pred_))